@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<h1 id="login-title">@ViewData["Title"]</h1>
<div class="login">
    <section>
        <form id="account" method="post">
            <hr />
            <div class="login-fields">
                <div class="form-group">
                    <label class="label-login" asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="login-validation text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="label-login" asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="login-validation text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label id="remember-me" asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="form-group text-center m-3">
                    <button type="submit" class="btn-general">Log in</button>
                </div>
                <div class="form-group log-links">
                    <a class="d-block" id="forgot-password" asp-page="./ForgotPassword"><span>Forgot your password?</span></a>
                    <a class="d-block" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl"><span>Register</span></a>
                </div>
            </div>
        </form>
    </section>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
