@model IEnumerable<MovieServiceModel>


<div class="title">
    @if (Model.Any())
    {
        <h1>Your watchlist</h1>
    }
    else
    {       
        <h1>(No movies in your watchlist)</h1>
    }
</div>

<partial name="_MoviesPartial" model="@Model" />