@model AddMovieFormModel

@{
    ViewBag.Title = "Add";
}

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-2 col-xl-8">
        <h2 class="heading-margin">@ViewBag.Title</h2>
        <form method="post">
            <div class="form-group">
                <label asp-for="Title"></label>
                <input asp-for="Title" class="form-control">
                <span asp-validation-for="Title" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReleaseYear">Release Year</label>
                <input asp-for="ReleaseYear" class="form-control">
                <span asp-validation-for="ReleaseYear" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Runtime"></label>
                <input asp-for="Runtime" class="form-control" placeholder="(min.)">
                <span asp-validation-for="Runtime" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Language"></label>
                <input asp-for="Language" class="form-control">
                <span asp-validation-for="Language" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageUrl"></label>
                <input asp-for="ImageUrl" class="form-control" placeholder=".jpg/.png">
                <span asp-validation-for="ImageUrl" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Director"></label>
                <input asp-for="Director" class="form-control" placeholder="First name and last name separated by a single space.">
                <span asp-validation-for="Director" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Studio"></label>
                <input asp-for="Studio" class="form-control" placeholder="example: Warner Bros. Pictures">
                <span asp-validation-for="Studio" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StarringActors"></label>
                <input asp-for="StarringActors" class="form-control" placeholder="Actor names separated by commas (Brad Pitt, Matt Damon, etc.)">
                <span asp-validation-for="StarringActors" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Genres"></label>
                <select multiple asp-for="Genres" class="form-control" asp-items="ViewBag.Genres">
                </select>
                <span asp-validation-for="Genres" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Plot">Plot</label>
                <textarea asp-for="Plot" class="form-control" placeholder="The movie's awesome plot in a few words." rows="3"></textarea>
                <span asp-validation-for="Plot" class="small text-danger"></span>
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary mb-2">Submit</button>
            </div>
        </form>
    </div>
</div>