@model MovieDetailsServiceModel

<div class="row">
    <div class="col-12 col-md-7">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/@Model.YoutubeTrailerId" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="col-5">
        <h2>@Model.Title</h2>
    </div>
</div>
