@model IEnumerable<MovieServiceModel>

@{ 
    ViewBag.Title = "My Contributions";
    ViewBag.AllowEdit = true;
}

@if (!Model.Any())
{
    <h2>Oh, wow!. Why not add one?</h2>
}

<partial name="_MoviesPartial" model="@Model" />


