@{ 
    ViewBag.Title = "About";
}

<div class="about">
    <div>
        <hr />
        <h1 id="about-title">About</h1>
        <p id="about-info">
            MRS or Movies Recommendation System is an online tool aimed for poeple who are looking for a great movie to watch but don't want to do the picking themselves.
            Within a single mouse click on the homepage's <span>[RANDOM MOVIE]</span> button you are guaranteed to get an awesome movie suggestion. However, if you're not in a "random"
            mood you could always browse our entire collection and choose a movie yourself.
        </p>
        <p id="about-disclaimer">
            <span>DISCLAIMER:</span> Movies Recommendation System is an educational project, which is not aimed for a production environment. If you have any questions please send us an e-mail
            by clicking the <span>[CONTACT]</span> button, located in the page footer.
        </p>
    </div>
</div>

