@model IndexViewModel

@{
    ViewBag.Title = "Home Page";
    Layout = "_LayoutIndex";
}

<div class="stars-animation">
    <div class="stars"></div>
    <div class="twinkling"></div>
    <div class="clouds"></div>
</div>

<div class="movie-roulette">
    <h1 class="home-title">
        MRS - your online cinematic roulette
    </h1>
    <a class="btn-transparent-light" asp-controller="Home" asp-action="RandomMovie">
        Random movie
    </a>
</div>

<div class="popular-genres">
    <a href="/Movies/All?SelectedGenre=Drama" class="popular-genre" id="dramatic">
        <div class="title-block">
            <h3>Dramatic</h3>
        </div>
    </a>
    <a href="/Movies/All?SelectedGenre=Crime" class="popular-genre" id="criminal">
        <div class="title-block">
            <h3>Criminal</h3>
        </div>
    </a>
    <a href="/Movies/All?SelectedGenre=Romance" class="popular-genre" id="heart-melting">
        <div class="title-block">
            <h3>Heart Melting</h3>
        </div>
    </a>
    <a href="/Movies/All?SelectedGenre=Comedy" class="popular-genre" id="funny">
        <div class="title-block">
            <h3>Funny</h3>
        </div>
    </a>
    <a href="/Movies/All?SelectedGenre=War" class="popular-genre" id="war">
        <div class="title-block">
            <h3>War</h3>
        </div>
    </a>
    <a href="/Movies/All?SelectedGenre=Horror" class="popular-genre" id="terrifying">
        <div class="title-block">
            <h3>Terrifying</h3>
        </div>
    </a>
</div>

<div class="recently-added">
    <span>Recently added movies</span>
    <partial name="_MoviesPartial" model="@Model.RecentlyAddedMovies" />
</div>

<div class="row mt-5">
    <div class="col-12 text-center">
        <button class="btn btn-primary" id="statistics-button">Collection Statistics</button>
    </div>
</div>

<h1 class="text-center d-none" style="margin: 35px" id="statistics-title">
    Currently in our collection:
</h1>

<div class="jumbotron d-none" id="statistics-jumbotron">
    <div class="row">
        <h2 class="col-md-3 text-center" id="total-movies"></h2>
        <h2 class="col-md-3 text-center" id="total-genres"></h2>
        <h2 class="col-md-3 text-center" id="total-actors"></h2>
        <h2 class="col-md-3 text-center" id="total-directors"></h2>
    </div>
</div>

@section Scripts {
    <script>
        $('#statistics-button').on('click', ev => {
            $.get('/api/statistics', (data) => {
                $('#total-movies').text(data.totalMovies + " movies")
                $('#total-genres').text("throughout " + data.totalGenres + " Genres")
                $('#total-actors').text("starring " + data.totalActors + " Actors")
                $('#total-directors').text("guided by " + data.totalDirectors + " Directors")
            });

            $('#statistics-title').removeClass('d-none');
            $('#statistics-jumbotron').removeClass('d-none');
            $('#statistics-button').hide();
        });
    </script>
}
